.button {
    padding: 10px 30px 10px 30px;
    font-size: x-large;
    border-radius: 10px;
    background-color: rgb(255, 201, 201);
    align-self: center;
}

.button--mini {
    padding: 5px 15px 5px 15px;
    font-size: x-large;
    border-radius: 10px;
    background-color: rgb(255, 201, 201);
    margin: 25px 0 25px 0;
}

.button:hover {
    background-color: rgb(251, 181, 181);
}

.button:active {
    background-color: rgb(226, 139, 139);
}

.button--pressed {
    background-color: rgb(226, 139, 139);
}
