.container {
    padding: 25px 50px 25px 50px;
    margin: 50px;
    border: 2px solid rgb(255, 131, 131);
    background-color: rgb(255, 223, 223);
    border-radius: 25px;
}

.container--small {
    width: 600px;
    margin: 50px auto;
}

@media screen and (max-width: 768px) {
    .container--small {
        width: 80%; 
        margin: 25px auto;
        padding: 10px 20px 10px 20px;
    }
}