.navbar {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: rgb(178, 44, 44);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar__element {
    text-decoration: none;
}

.navbar__element--left {
    float: left;
}

.navbar__element:hover {
    background-color: rgb(136, 26, 26);
}

.navbar__element:hover a {
    color: rgb(255, 104, 104);
}

.navbar__link {
    text-decoration: none;
    color: white;
    font-size: x-large;
    padding: 20px;
    display: block;
}